<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<div class="block-image">
  <div class="item item-1">
    <div class="name">

      <p>Anna Petrova</p>

    <div class="profession">
      <img class="icon" src="../img/picture/Ellipse 20.png" alt="">
      <p class="prof">Developer</p>
      <img class="icon chat" src="../img/picture/Vector.png" alt="">
    </div>
  </div>

  </div>

  <div class="item item-2">
    <div class="name">

      <p>Anna Petrova</p>

    <div class="profession">
      <img class="icon" src="../img/picture/Ellipse 20.png" alt="">
      <p class="prof">Developer</p>
      <img class="icon chat" src="../img/picture/Vector.png" alt="">
    </div>
  </div>
  </div>
  <div class="item item-3">
    <div class="name">

      <p>Anna Petrova</p>

    <div class="profession">
      <img class="icon" src="../img/picture/Ellipse 20.png" alt="">
      <p class="prof">Developer</p>
      <img class="icon chat" src="../img/picture/Vector.png" alt="">
    </div>
  </div>
  </div>
  <div class="item item-4">
    <div class="name">

      <p>Anna Petrova</p>

    <div class="profession">
      <img class="icon" src="../img/picture/Ellipse 20.png" alt="">
      <p class="prof">Developer</p>
      <img class="icon chat" src="../img/picture/Vector.png" alt="">
    </div>
  </div>
  </div>





</div>

<div class="block-image">





  <div class="item item-5">
    <div class="name">

      <p>Anna Petrova</p>

    <div class="profession">
      <img class="icon" src="../img/picture/Ellipse 20.png" alt="">
      <p class="prof">Developer</p>
      <img class="icon chat" src="../img/picture/Vector.png" alt="">
    </div>
  </div>
  </div>
  <div class="item item-6">
    <div class="name">

      <p>Anna Petrova</p>

    <div class="profession">
      <img class="icon" src="../img/picture/Ellipse 20.png" alt="">
      <p class="prof">Developer</p>
      <img class="icon chat" src="../img/picture/Vector.png" alt="">
    </div>
  </div>
  </div>

  <div class="item item-7">
   
  </div>

  <div class="item item-8">

    </div>
  </div>
  </div>



</div>
